<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Recruitment</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta property="og:title" content="Vide" />
        <script type="application/x-javascript">
             addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } 
        </script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/bootstrap")
        
        <!-- //for-mobile-apps -->
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
       
        <!-- Custom Theme files -->
        <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
        <!-- menu -->
        <link href="@Url.Content("~/Content/component.css")" rel="stylesheet" type="text/css" />
        <!-- //menu -->
        <!-- Custom Theme files --><!--webfont-->
        <link href="@Url.Content("~/Content/Comfortaa.css")" rel="stylesheet" type="text/css">
        <link href="@Url.Content("~/Content/Lato.css")" rel="stylesheet" type="text/css"> 
        
      
       

    </head>
    <body>
        <div class="center-container">
            <div class="header">
                <div class="container">                  
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">ICSR<span>Recruitment</span></a>
                        @*<a class="navbar-brand" href="~/Outsource/OutscouringModule"><span>Home</span></a>*@
                    </div>
                        <div class="top-nav">
                            <nav class="top-nav-bottom cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
                                <h3>Recruitment</h3>
                                @Html.ActionLink("Home", "Index", "Home")
                                @Html.ActionLink("Masters", "Masters", "Home")
                                @Html.ActionLink("Outsource", "OutsourcingModule", "Outsource")
                                @*priya -st*@
                                @Html.ActionLink("Logout", "LogOut", "Account")
                            </nav>

                            <div class="button">
                                <button id="showRightPush"><img src="~/images/menu.png" alt="" /></button>
                            </div>
                            <script src="~/Scripts/classie.js"></script>
                            <script>
                                var menuRight = document.getElementById('cbp-spmenu-s2'),
                                showRightPush = document.getElementById('showRightPush'),
                                body = document.body;

                                showRightPush.onclick = function () {
                                    classie.toggle(this, 'active');
                                    classie.toggle(body, 'cbp-spmenu-push-toleft');
                                    classie.toggle(menuRight, 'cbp-spmenu-open');
                                    disableOther('showRightPush');
                                };

                                function disableOther(button) {
                                    if (button !== 'showRightPush') {
                                        classie.toggle(showRightPush, 'disabled');
                                    }
                                }
                            </script>
                            <!-- /script-for-menu -->
                        </div>
                        <div class="clearfix"> </div>
                    </div>
            </div>
            <div id="body">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
            
        </div>     

      
        @RenderSection("scripts", required: false)
       
    </body>
</html>
