@model Outsourcing.ViewModel.SalaryDetailsModel
<table>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.BasicSalary)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.BasicSalary, new { @id = "BasicSalary" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.BasicSalary)
            </div>
        </td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.HRA)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.HRA, new { @id = "HRA" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.HRA)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.Bonus)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.Bonus, new { @id = "Bonus" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.Bonus)
            </div>
        </td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.SpecialAllowance)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.SpecialAllowance, new { @id = "SpecialAllowance" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.SpecialAllowance)
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.GrossSalary)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.GrossSalary, new { @id = "GrossSalary" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.GrossSalary)
            </div>
        </td>
    </tr>
    <tr><th colspan="2">Deduction</th></tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.EmployeePF)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.EmployeePF, new { @id = "EmployeePF" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.EmployeePF)
            </div>
        </td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.EmployeeESIC)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.EmployeeESIC, new { @id = "EmployeeESIC" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.EmployeeESIC)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.ProfessionalTax)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.ProfessionalTax, new { @id = "ProfessionalTax" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.ProfessionalTax)
            </div>
        </td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.TotalDeduction)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.TotalDeduction, new { @id = "TotalDeduction" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.TotalDeduction)
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.NetSalary)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.NetSalary, new { @id = "NetSalary" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.NetSalary)
            </div>
        </td>
    </tr>
    <tr><th colspan="2">Contribution</th></tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.EmployerPF)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.EmployerPF, new { @id = "EmployerPF" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.EmployerPF)
            </div>
        </td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.EmployerESIC)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.EmployerESIC, new { @id = "EmployerESIC" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.EmployerESIC)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.Insurance)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.Insurance, new { @id = "Insurance" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.Insurance)
            </div>
        </td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.TotalContribution)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.TotalContribution, new { @id = "TotalContribution" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.TotalContribution)
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.GrossTotal)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.GrossTotal, new { @id = "GrossTotal" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.GrossTotal)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.AgencyFee)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.AgencyFee, new { @id = "AgencyFee" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.AgencyFee)
            </div>
        </td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.GrossTotalwithAgencyFee)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.GrossTotalwithAgencyFee, new { @id = "GrossTotalwithAgencyFee" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.GrossTotalwithAgencyFee)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.ServiceTax)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.ServiceTax, new { @id = "ServiceTax" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.ServiceTax)
            </div>
        </td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.salaryDetailsView.TotalSalary)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.salaryDetailsView.TotalSalary, new { @id = "TotalSalary" })
                @Html.ValidationMessageFor(model => model.salaryDetailsView.TotalSalary)
            </div>
        </td>
        <td>
            @Html.HiddenFor(m => m.EmployeeName)
                @Html.HiddenFor(m => m.PH)
                @Html.HiddenFor(m => m.type)
            </td>        
    </tr>
</table>


    <script type="text/javascript">
        $("#BasicSalary,#HRA,#Bonus,#SpecialAllowance").change(function () {
            var add = parseInt($("#BasicSalary").val()) + parseInt($("#HRA").val()) + parseInt($("#Bonus").val()) + parseInt($("#SpecialAllowance").val());
            $("#GrossSalary").val(add);
        });
        $("#EmployeePF,#EmployeeESIC,#ProfessionalTax,#TotalDeduction").change(function () {
            var add = parseInt($("#EmployeePF").val()) + parseInt($("#EmployeeESIC").val()) + parseInt($("#ProfessionalTax").val()) + parseInt($("#TotalDeduction").val());
            $("#NetSalary").val(add);
        });
        $("#EmployerPF,#EmployerESIC,#Insurance,#TotalDeduction").change(function () {
            var add = parseInt($("#EmployerPF").val()) + parseInt($("#EmployerESIC").val()) + parseInt($("#Insurance").val()) + parseInt($("#TotalContribution").val());
            $("#GrossTotal").val(add);
        });
        </script>

